h1 {
    color: black;
}

body {
    font-family: "FreeSans", sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 50px;
    background-color: #e0e0e0;
}

#generator {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 25px 25px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#password {
    margin-top: 20px;
    font-size: 24px;
    font-family: monospace;
    color: purple;
}

button:disabled {
    background-color: palegoldenrod;
    cursor: not-allowed;
}

button:not(:disabled) {
    background-color: gold;
}

button:hover:not(:disabled) {
    background-color: rgb(211, 158, 25);
}